.header{
  font-size: 30px;
  margin-right: 100px;
}
nav .link{
  text-decoration: none;
  color:white;
  margin:20px;
}
.disabled-link {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  color:white;
  margin:20px;
}
  